
.leftNav {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 0px;
}

.leftNav a {
    margin: 0px 20px 20px 20px;
    text-decoration: none;
    display: flex;
}

.leftNav a img {
    margin-left: 12px;
    opacity: 0;
    transition: .3s;
}

.leftNav button {
    cursor: pointer;
    min-width: 240px;
    padding: 6px 0px;
    border: 0px;
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: var(--background-color);
    background-color: var(--secondary-color);
    transition: .3s;
    outline-style: none;
}

.leftNav .selectedLink button {
    color: var(--highlight-color);
}

.leftNav .selectedLink img {
    opacity: 1;
}

.navText {
    max-width: 190px;
    margin-top: 60px;
    text-align: left;
    padding: 25px;
    margin-left: 20px;
    margin-right: 40px;
    border: 1px solid var(--soft-primary-color);
    border-radius: 16px;
    color: var(--primary-color);
}

.navText h3 {
    margin-top: 0px;
}

.navText a {
    display: inline;
}

@media (max-width: 900px) {
    .leftNav {
        position: fixed;
        left: -100vw;
        z-index: 11;
        background-color: var(--background-color);
        box-shadow: 0px 0px 24px 2px var(--primary-color);
        height: 100vh;
        transition: .4s;
    }

    .leftNav.expand {
        display: block;
        left: 0vw;
    }

    .leftNav a button{
        width: 50vw;
    }
}